/* QUANDO A FLEXBOX ESTÁ CONFIGURADA COMO ROW, O MAIN AXIS QUE É DEFINIDO PELO JUSTIFY CONTENT, IRA MOVER HORIZONTALMENTE, */
/* QUANDO A FLEXBOX ESTÁ CONFIGURADA COMO COLUMN, O MAIN AXIS QUE É DEFINIDO PELO JUSTIFY CONTENT, IRA MOVER VERTICALMENTE. */
/* E O CROSS AXIS QUE É DEFINIDO PELO ALIGN ITEMS, IRA MOVER VERTICALMENTE. */

.container {
    height: 50vh;
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start;
    align-items: center;
    gap: 30px; */
}

.item {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    /* flex-basis: 250px; */
}

.item:nth-child(even){
    flex-grow: 3;
    align-self: flex-end;
}