/*
COMENTÁRIOS EM CSS

CASCADE: É a ordem de prioridade que o CSS segue para aplicar as regras de estilo. (De cima para baixo)
    - Inline: É a regra de estilo que é aplicada diretamente no elemento HTML.
    - ID: É a regra de estilo que é aplicada diretamente no ID do elemento HTML.
    - Class: É a regra de estilo que é aplicada diretamente na classe do elemento HTML.
    - Tag: É a regra de estilo que é aplicada diretamente na tag do elemento HTML.

ESPECIFICIDADE: É a ordem de prioridade que o CSS segue para aplicar as regras de estilo. (Mais específico para menos específico)
    - !important: É a regra de estilo que é aplicada diretamente no elemento HTML.
    - Inline: É a regra de estilo que é aplicada diretamente no elemento HTML.
    - ID: É a regra de estilo que é aplicada diretamente no ID do elemento HTML.
    - Class: É a regra de estilo que é aplicada diretamente na classe do elemento HTML.
    - Tag: É a regra de estilo que é aplicada diretamente na tag do elemento HTML. 

TAGS INLINE NÃO É POSSÍVEL APLICAR LARGURA E ALTURA, POIS ELAS NÃO SÃO ELEMENTOS BLOCO.
NÃO RECOMENDADO UTILIZAR PADDING E MARGIN EM ELEMENTOS INLINE.
    - PADDING E MARGIN SÃO PROPRIEDADES QUE NÃO SÃO APLICADAS EM ELEMENTOS INLINE, POIS ELES NÃO SÃO ELEMENTOS BLOCO.

PARA EVITAR QUE UM BLOCO ULTRAPASSE O TAMANHO LIMITE DO BLOCO PAI, PODEMOS UTILIZAR A PROPRIEDADE BOX-SIZING: BORDER-BOX;
    - A PROPRIEDADE BOX-SIZING: BORDER-BOX; FAZ COM QUE O TAMANHO DO BLOCO SEJA CALCULADO CONSIDERANDO O TAMANHO DO BLOCO E A MARGEM.

E NÃO É RECOMENDADO UTILIZAR ALTURA PARA BLOCOS, APENAS LARGURA.

PODEMOS ALINHAR BLOCOS CONTENDO UMA WIDTH DE 50% COM MARGIN: AUTO;
QUANDO O FUNDO DE UM BLOCO SE ENCONTRA COM O TOPO DE OUTRO, TEREMOS UM EFEITO QUE SE CHAMA COLLAPSING MARGIN. (MARGEM COLAPSADA)
    - PARA RESOLVER O COLLAPSING MARGIN, PODEMOS UTILIZAR A PROPRIEDADE PADDING OU BORDER.
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-image: url('./images/background-node.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form {
    background-color: #a1a6aa;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 30vh;
}
#submit-btn {
    border-radius: 5px;
    padding: 6px 12px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
}
#submit-btn:hover {
    background-color: #575653;
    cursor: pointer;
    animation: ease-in-out 0.3s;
}
#name {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#title {
    font-family: 'Montserrat';
    font-size: 2em;
    margin-bottom: 20px;
    text-transform: uppercase;
}

#spanName {
    font-family: 'Open Sans';
    font-size: 1.2em;
    margin-top: 10px;
}